*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

table{
    
    margin: 20px auto;
    border-collapse: collapse;
    inline-size: 800px;
    text-align: justify;
}

table,
th,
td{
    border: 1px solid #ccc;
    padding: 5px;
}

th{
    background-color: rgb(189, 224, 254);
}
